<div class="container">
    <h1>{{users.real_name}}</h1>
    <h2>"{{users.username}}"</h2>
    <div>
        <h3>Favorite Game: {{users.favorite_game}}</h3>
        <h4>{{users.release_date}}</h4>
        <p>{{users.game_abstract}}</p>
    </div>
    <div>
        <h3>Favorite Genre : {{users.favorite_genre}}</h3>
        <p>{{users.genre_abstract}}</p>
    </div>
</div> 